@font-face {
    font-family: "Lobster";
    src: url("Lobster/Lobster-Regular.ttf");
    font-family: "MochiyPopOne-Regular";
    src: url("Mochiy_Pop_One/MochiyPopOne-Regular.ttf");
    font-family: "GenSenRounded TW";
    src: url("../font/GenSenRounded-M.ttc") format("truetype");
  }

.footer_pd {
     background-color:rgb(255,181,60);
     display: flex; 
     width: 100%;
     list-style: none;
     font-family: GenSenRounded TW, cwTeXYen;
     /* position: fixed;
     bottom: 0; */
 }
 .footer_pd ul {
     background-color:rgb(255,181,60);
     list-style: none;
     text-decoration: none;
     color: .000;
 }
 .footer_pd ul li{
     background-color:rgb(255,181,60);
 }
 .footer_main {
     margin-bottom: 10%;
 }
 .footer_main a{
     font-size: 22px;
     color: rgb(0, 0, 0);
     text-decoration: none;
 }
 .footer_main a:hover{
     text-decoration: underline;
 }
 .footer_sub a{
     font-size: 16px; 
     color: rgb(52, 52, 52); 
     text-decoration: none;
 }
 .footer_sub a:hover{
     text-decoration: underline;
 }