@font-face {
  font-family: "GenSenRounded";
  src: url("../font/GenSenRounded-M.ttc");
}
* {
  font-family: "GenSenRounded";
}
hr {
  border: 1px solid rgb(168, 168, 168);
}

li {
  text-decoration: none;
  list-style: none;
}

p {
  margin: 0;
}

/* 產品照片＋描述區塊 */
.pd_container {
  z-index: 0;
  margin-top: 100px;
  display: flex;
  margin-left: 8%;
  margin-right: 8%;
  gap: 40px;
}

/* 產品照片 */
.product_pic_container {
  display: flex;
  flex: 1;
}

.product_pic {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
}

.item img {
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.item_big {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  object-fit: fill;
}

.item_big img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* 產品資訊欄 */
.product_introduce_container {
  display: flex;
}

.product_intro_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  width: 500px;
  overflow: visible;
}
.intro_text_title {
  margin-top: 50px;
  font-size: 42px;
}
.intro_text {
  margin-top: 0px;
  font-size: 22px;
}

.product_sum {
  font-size: 30px;
  text-align: center;
  color: rgb(206, 112, 64);
}

h1.intro_text {
  overflow: visible;
}

/* 加入按鈕 */
.pd_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  gap: 30px;
}
.pd_btn_collect {
  display: flex;
  flex-direction: row;
}
.collect_list {
  color: palevioletred;
  font-size: 40px;
  cursor: pointer;
  text-align: center;

  margin: 0 50px 0 50px;
}
.btn_join {
  width: 450px;
  font-size: 30px;
  border: 2px solid rgb(59, 166, 1);
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  color: rgb(59, 166, 1);
}

.btn_create {
  width: 300px;
  font-size: 30px;
  border: 2px solid rgb(206, 112, 64);
  color: rgb(206, 112, 64);
  cursor: pointer;
}

/* 產品介紹 */
.product_about {
  margin: 0 10%;
}

.product_about_ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f1f1f1;
}

.product_about_ul li {
  font-size: 3.5vh;
  padding: 15px;
}

.product_about_ul :hover {
  cursor: pointer;
  border-bottom: 5px #005655 solid;
}

.sells_info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  overflow: visible;
  width: auto;
  height: 70%;
  margin-top: 30px;
  gap: 40px;
}

.sells_info_bg {
  width: 40vw;
  height: 50vh;
 
}

.sells_info_content {
  font-size: 22px;
  text-align: left;
  justify-content: center;
  align-content: center;
  letter-spacing: 10px;
}

.change_info {
  display: none;
  justify-content: center;
  align-items: center;
  color: black;
  overflow: visible;
  width: auto;
  height: 70%;
  padding: 50px;
  font-size: 20px;
  background-color: rgb(243, 215, 168);
}

.pd_contact_info {
  display: none;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 500px;
  margin: auto;
  gap: 20px;
  font-size: 25px;
  color: rgb(187, 82, 22);
  /* background-color: rgb(243, 215, 168); */
}

.product_count {
  height: 30px;
}

.contact_info #host_contact_submit {
  text-align: center;

  background-color: rgb(243, 215, 168);
}

#host_contact_input {
  height: 300px;
  width: 100%;
  overflow: visible;
  font-size: 22px;
  background-color: rgb(217, 217, 217);
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .product_intro_box {
    flex: 1;
    order: 1;
  }
}

/* 免責聲明頁面 */
.state_content {
  margin: 12% 15%;
  width: 70%;
  height: 0;
}

.statement {
  border: 0.5px double rgb(107, 107, 107);
  padding: 10%;
}

#info_check {
  margin-top: 2%;
  cursor: pointer;
}

#Agree {
  font-size: 1.2rem;
  cursor: pointer;
}

#agreement {
  text-align: center;
  justify-content: center;
  margin-top: 1%;
}

#agreement_btn {
  font-size: 1rem;
  margin: 50px;
}
