* {
    font-family: 'media\GenSenRounded-M.ttc';
}

h1 {
    color: rgba(221, 99, 30, 1);
}

form {
    width: 95%;
    margin: 1% 5%1% 5%;

}

.outside {
    margin-bottom: 12%;
}

.btnbox2 {
    margin-top: 10%;
}

.btnbox2>button {
    background-color: rgba(243, 215, 168, 1)
}

form>div:not(:nth-child(1)):not(:nth-child(4))>div {
    background-color: rgba(243, 215, 168, 1);
    margin: 1% auto;
    width: 100%;

}

.div2>div {
    padding-left: 3%;
}

/* -------------------------- */

/* ---------------------------------------- */
/* 標籤 */

button {
    border: none;
    background: none;
}

.bi-caret-right-fill:hover,
.add1:hover,
.go:hover {

    transform: scale(1.5);
    transition: 1s ease;
}


.page {
    margin-top: 10vw;
    margin-left: 5vw;

}

.page>button:hover {
    color: white;

}

.page>:nth-child(1) {
    background-color: orange;
    padding-top: 2vh;

}

.page>:nth-child(2) {
    background-color: red;
    padding-top: 2vh;

}

.page>:nth-child(3) {
    background-color: yellow;
    padding-top: 2vh;

}

.target_box {
    width: 100%;
}

.target_box>div:nth-child(1),
.target_box>div:nth-child(3) {
    border-top: 2px solid green;
    margin-top: 2vw;
    width: 30%;
}

/* ------------------------------- */
.change_box {
    background-color: gainsboro;
    margin: 0px 10vw 0px 5vw;
    padding: 1vw 0px 1vw 0px;
}

/* ------------------------------- */
.form1 {
    margin: 2vw;

}

.form1>div:not(:last-child) {
    background-color: orange;
    margin: 1vw 0px;
    padding: 1/2vw;
    padding-left: 2vw;
}

.form1>div:last-child>button {
    width: 5vw;
}

/* ----------------------------------------- */
/* 熱門團購 */
.form2 {
    margin: 2vw;

}

.form2>div {
    background-color: orange;
    margin: 1vw 0px;
    padding: 2vw;
    padding-left: 2vw;
}

.add1 {
    font-weight: 900;
    font-size: 2vw;
    color: white;
}

.go {
    color: WHITE;
    font-size: 2vw;
}

/* ---------------------------------footer */
.footer_pd {
    background-color: rgb(255, 181, 60);
    display: flex;
    width: 100%;
    list-style: none;
    /* position: fixed;
    bottom: 0; */
}

.footer_pd ul {
    background-color: rgb(255, 181, 60);
    list-style: none;
    text-decoration: none;
    color: #000;
}

.footer_pd ul li {
    background-color: rgb(255, 181, 60);
}

#footer_main {
    margin-bottom: 10%;
}

#footer_main a {
    font-size: 22px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#footer_main a:hover {
    text-decoration: underline;
}

#footer_sub a {
    font-size: 16px;
    color: rgb(52, 52, 52);
    text-decoration: none;
}

#footer_sub a:hover {
    text-decoration: underline;
}