* {
    font-family: 'media\GenSenRounded-M.ttc';
}

h1 {
    color: rgba(221, 99, 30, 1);
}

form {
    width: 95%;
    margin: 5% 5%;

}

form>div:not(:nth-child(1)):not(:nth-child(3))>div,
form>div:nth-child(2)>div {
    background-color: rgba(243, 215, 168, 1);
    margin: 1% auto;
    width: 100%;

}

form>div>div {
    padding-left: 3%;
}

/* header */
header {
    background-color: #F6BD88;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 10%;
    display: flex;
}

.header_logo img {
    width: 100%;
    height: 100%;
    background-color: white;
    list-style: none;
}

.header_text {
    font-size: 20px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;


}

.header_text #items {
    font-size: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    gap: 100px;

}

.header_text a {
    color: #2b2b2b;
    text-decoration: none;
}



.member_icon {
    position: absolute;
    right: 2%;
    top: 25%;
    font-size: 35px;
    color: rgb(250, 238, 223);
}

/* 上方header */


.logo {
    width: auto;
    height: 50px;
}

/* 右方header */
aside {
    width: 65px;
    height: 90%;
    bottom: 0;
    position: fixed;
    top: 10%;
    right: 0;
    background-color: #F6BD88;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.about_us,
.seach_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    font-size: 1rem;
}

.seach_icon .icon {
    width: 100%;
    font-size: 24px;
    color: #DD631E;
}

.about_us {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    writing-mode: vertical-lr;
    gap: 10%;
    color: white;
}

.about_us .block {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    writing-mode: vertical-lr;
    text-align: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.about_us .block a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2b2b2b;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.about_us .block:hover {
    background-color: #DD631E;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;

}

/* 放圖片樣式------------------------- */
.pic_box {
    margin-bottom: 5%;
}

input {
    border: none;
    border-bottom: 2px solid rgb(78, 77, 77);
    background-color: rgba(243, 215, 168, 1);
}


.good_pic>div>div>input:nth-child(2) {
    display: none;
}

.main_pic {
    width: 90%;
    height: 22vh;
    border: 2px solid black;
    border-style: dotted;
    margin: 0% 1%;

}

.side_pic {
    width: 80%;
    height: 18vh;
    border: 2px solid black;
    border-style: dotted;

    margin: 0% 1%;

}

/* ----------------------------------- */
button {
    border: none;
    margin: 1% 1%;
}

/* 折扣碼背景----------------------------------- */
.discount_box {
    width: 100%;
    height: 20%;

}

.discount_box>div {
    width: 18%;
    height: 5%;
    background-image: url(./media/ticket_工作區域\ 1.png);
    background-size: cover;
    display: inline-block;
    padding: 0% 2%;
    margin-left: 2%;
}

/* button樣式------------------------------------- */
button>h3 {
    color: #005655;

}

button {
    background-color: #D9D9D9;

}

/* 標題樣式--------------------------------- */
form>:nth-child(1)>div:not(:nth-child(2)),
form>:nth-child(3)>div:not(:nth-child(2)) {
    border-bottom: 2px solid #005655;
    height: 5vh;
}

.footer_pd {
    background-color: rgb(255, 181, 60);
    display: flex;
    width: 100%;
    list-style: none;
    /* position: fixed;
    bottom: 0; */
}

.footer_pd ul {
    background-color: rgb(255, 181, 60);
    list-style: none;
    text-decoration: none;
    color: #000;
}

.footer_pd ul li {
    background-color: rgb(255, 181, 60);
}

#footer_main {
    margin-bottom: 10%;
}

#footer_main a {
    font-size: 22px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#footer_main a:hover {
    text-decoration: underline;
}

#footer_sub a {
    font-size: 16px;
    color: rgb(52, 52, 52);
    text-decoration: none;
}

#footer_sub a:hover {
    text-decoration: underline;
}