/* 字體顏色*/
@font-face {
  font-family: "Lobster";
  src: url("Lobster/Lobster-Regular.ttf");
  font-family: "MochiyPopOne-Regular";
  src: url("Mochiy_Pop_One/MochiyPopOne-Regular.ttf");
  font-family: "GenSenRounded TW";
  src: url("../font/GenSenRounded-M.ttc") format("truetype");
}

* {
  font-family: GenSenRounded TW;
}

/* body{
    background-image: url("/img/cartBG\ 1.png");
    background-attachment: fixed;
    background-position-x: right;
    background-position-y: bottom; 
    background-repeat: no-repeat;
} */

.log-in > *,
.register > * {
  box-sizing: border-box;
}

.log_in_form,
.register_form {
  width: 450px;
  min-height: 500px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 37.5px;
  background-image: linear-gradient(-225deg, #8ec3f590 50%, #f6bd88 50%);
}

/* form Container */
.log_in_form .con,
.register_form .con {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 40px;
}

/* 表格標題 */
.head-form {
  margin: 2% auto 10% auto;
  text-align: center;
}

.head-form h2 {
  font-size: 48px;
  font-family: "GenSenRounded TW";
  color: #dd631e;
}

/* 登入 鑰匙 icon */
.input-item {
  background: #fff;
  color: #333;
  padding: 14.2px 0px 15.7px 9px;
  border-radius: 5px 0px 0px 5px;
}

/* 眼睛 icon */
#eye,
#eye2 {
  /* background: #fff; */
  color: #333;
  margin: 5.9px 0 0;
  margin-left: -100px;
  padding: 15px 15px 19px 0px;
  border-radius: 0px 5px 5px 0px;
  float: right;
  position: relative;
  right: 5%;
  top: -0.2%;
  /* z-index: ; */
  cursor: pointer;
}

/* inputs form  */
input[class="form-input"] {
  width: 240px;
  height: 50px;

  margin-top: 2%;
  /* padding: 15px; */

  font-size: 16px;
  font-family: "Abel", sans-serif;
  color: #5e6472;

  outline: none;
  border: none;

  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear;
}

input[id="txt-input"] {
  width: 250px;
}

input[class="form-input"]::placeholder {
  font-weight: bold;

  color: #dad7cd;
}

/* focus  */
input:focus {
  transform: translateX(-2px);
  border-radius: 0px 5px 5px 0px;
}

/* 登入 按鈕 超連結 */
.btn_login,
.btn_register,
.btn_resetPWD,
.a_text {
  display: inline-block;
  color: #252537;

  width: 270px;
  height: 50px;

  padding: 0 20px;
  border-radius: 5px;

  outline: none;
  border: none;

  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;

  margin: 5% auto;
  letter-spacing: 0.05em;
  font-family: "GenSenRounded TW";
}

/* buttons hover */
.log-in,
.facebook:hover,
.google:hover {
  transform: translatey(3px);
  box-shadow: none;
  animation: ani9 0.4s ease-in-out infinite alternate;
}

/* Sign Up button  */
@keyframes ani9 {
  0% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(5px);
  }
}

/* 註冊成功對話框 */
/* .register_backgroud {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.register_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
}

.register_modal_text{
    align-items: center;
    margin-top: 25%;
} */

/* 關閉按鈕 */
/* .close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.register_modal_text>*{
    text-align: center;
    color: #DD631E;
    font-size: 40px;
    font-family: 'GenSenRounded TW';
}    */

/* 2023/05/05 google登入按鈕 */
.other {
  position: relative;
}
.google_btn_r {
  background-color: #333;
  width: 50%;
  height: 50%;
  position: absolute;
  right: 0;
  top: 30px;
  cursor: pointer;
  opacity: 0;
}
.google_btn_r:hover + .google {
  transform: translatey(3px);
  box-shadow: none;
  animation: ani9 0.4s ease-in-out infinite alternate;
  pointer-events: none;
  cursor: pointer;
}

/* 2023/05/05 google登入按鈕 */

/* 2023/05/06 facebook登入 */

#facebook_login {
  position: absolute;
  width: 50%;
  height: 50%;
  opacity: 0;
  left: 0;
}

#facebook_i {
  width: 100%;
}

#facebook_login:hover + .facebook {
  pointer-events: none;
  transform: translatey(3px);
  box-shadow: none;
  animation: ani9 0.4s ease-in-out infinite alternate;
}
/* 2023/05/06 facebook登入 */
